[submodule "miosix-kernel"]
	path = miosix-kernel
	url = https://miosix.org/git-public/miosix-kernel.git
[submodule "mxgui"]
	path = mxgui
	url = https://miosix.org/git-public/mxgui.git
[submodule "tinyusb/tinyusb"]
	path = tinyusb/tinyusb
	url = https://github.com/hathach/tinyusb.git
